:root {
  --color-prim-bg: #5ce4ca;
  --color-sec: #fffaa4;
  --color-peach: #ff7d7d;
  /* --color-card-bg: #fffae9; */
  --color-text-header: #003d31;
  --color-text-main: #596966;
  --color-swipper: #979696e8;
}

@media screen and (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav{
    
  }
/* 
  .nav-lists {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 80vh;
    width: 50%;
    background-color: #fff;
    margin-top: unset;
    display: block;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  
  }

  .nav-lists li {
    margin: 1.3rem 0;
    padding: 2rem;
    text-align: justify;
  }

  .nav-lists li a {
    cursor: pointer;
  }
  
  .buttons {
    display: none;
  }

  .hero img {
    opacity: 0;
    display: none;
  }

  .nav-lists.active {
    display: block;
    transform: translateX(0);
  } */
}
/* X, S8 max-width: 400px */
/* Tablet  min: 769px, max: 1024px */

@media screen and (min-width: 390px) and (max-width: 600px) {
  nav .container {
    position: absolute;
    width: 100%;
    margin: 10px 1.2rem;
    top: 0;
    left: 0;
  }
  body{
    overflow-x: hidden;
  }

  .hamburger {
    display: block;
    margin-right: 2.3rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* .nav-lists {
    position: absolute;
    right: -100%;
    top: 0vh; 
    height: 75vh;
    width: 50%;
    background-color: var(--color-sec);
    margin-top: unset;
    display: block;
    transform: translate(0);
    transition: transform 0.5s ease-in;
    display: none; 
  }  */

  .nav-lists{
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: block;
    padding-top: 1.5rem;
    z-index: 98;
    background: var(--color-sec);
  } 

  .nav-lists li a{
    display: inline-block;
    text-align: center;
    padding: 12px 16px;
  }

  .nav-lists li {
    margin: 1.3rem 0;
    padding: .6rem;
    text-align: start;
  }

  .nav-lists a{
    text-align: center;
  }

  .nav-lists li a {
    cursor: pointer;
  }
  
  .buttons {
    display: none;
  }

  .hero img {
    opacity: 0;
  }
 
  /* .nav-lists.active {
    display: block;
    overflow-y: hidden; 
    transform: translateX(100%);
    right: 0;

  } */

  /* ====HEADER==== */
  header {
    height: 70vh;
    background-size: 80% 100%;
    background-repeat: no-repeat;
  }

  .hero-text {
    align-items: stretch;
    padding-top: 0.2rem;
  }

  .hero img {
    opacity: 0;
  }

  .dialect h4,
  .lang-learn h4 {
    font-size: 2rem;
  }

  .dialect{
    padding: 5px 10px 5px 10px;
  }

  .lang-learn .lang{
    padding: 5px 10px;
  }
 
  .learn-content {
    width: 95%;
    margin: 2.5rem auto;
  }

  .learn-content p {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .options select{
    padding: 8px 10px;
  }

  .options button{
    padding: 7px 10px;
  }

  /* ====SECTION==== */

  .section-content {
    flex-direction: column;
  }

  .illustration {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .illustration img {
    width: 300px;
    margin: 0 auto 1rem 0;
    background-position: center;
  }

  .right-content {
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .right-content h5 {
    line-height: 1.1;
    letter-spacing: -0.1rem;
    padding-bottom: 20px;
    font-size: 2rem;
    color: var(--color-text-header);
  }

  .right-content p {
    width: 95%;
    margin: auto;
    font-size: .8rem;
  }

  .more-content {
    width: 100%;
  }

  .sub-head {
    flex-direction: column;
    /* padding: unset; */
    width: 98%;
  }

  .sub-head h1 {
    max-width: 98%;
    width: 95%;
    font-size: 2rem;
    line-height: 1.1;
    margin: 1.2rem auto 0 auto;
  }

  .categories {
    margin-bottom: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .categories img {
    width: 50px;
  }

  /* ===figure out what's going on here=== */
  span.lessons {
  }

  .boost-learning {
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  .dialect-plus {
    margin-bottom: 1rem;
    width: 95%;
    margin: auto;
  }

  .dialect-plus h1 {
    width: 95%;
    text-align: center;
    font-size: 2rem;
    line-height: 1.1;
  }

  .dialect-plus p {
    width: 95%;
    margin: 15px 0;
    font-size: .8rem;
    text-align: center;
  }

  .dialect-plus button{
    padding: 5px 10px;
  }


  .illustration-right {
    margin-top: 1rem;
  }

  .illustration-right img {
    width: 350px;
  }

  /* ===ASIDE=== */

  aside * img {
  
  }

  .container_ {
    width: 85%;
    margin: auto;
  }

  .lessons-tot {
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 2.3rem;
  }

  .lessons-tot h2 {
    font-size: 1rem;
  }

  .pple-dialect h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
  }

  .pple-dialect p {
    width: 95%;
    font-size: .8rem;
    margin: auto;
    text-align: center;
  }

  /* ---checkbaack for animations--- (to ease-in) (inspo from DivVerse)--- */
  .profile-wrapper {
    flex-direction: column;
    padding: 2rem 0 4rem;
  }

  .horizontal-line hr {
  width: 180px;
  margin-top: -0.5rem;
  }

  .profile-info p {
  font-size: .8rem;
  }

  .quote{
  justify-content: center;
  gap: 3rem;
  }

  .horizontal-line hr{
    width: 150px;
  }
  .swipper {
    display: none;
  }

  .learning_div .container {
    flex-direction: column;
    text-align: center;
  }

  .lang_learn h3 {
    font-size: 1.5rem;
  }

  .think_ span {
    width: 100%;
    padding: 5px 10px;
  }
  
  .lang_ span {
    width: 100%;
    padding: 8px 10px;
  }

  .container .learn_right {
    width: 98%;
    margin: auto;
  }

  .learn_right p {
    width: 100%;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0;
    font-size: .8rem;
  }

  select#dropdown{
    padding: 5px 10px;
  }

  .lang-options button{
    padding: 5px 10px;
  }

  .bottom-text h3 {
    font-size: 2rem;
    text-align: center;
  }

  .bottom_text p {
    font-size: 14px;
    text-align: center;
  }

  ._line {
    width: 90%;
    margin: auto;
  }

  .bottom .container {
    width: 100%;
    margin: auto;
  }

  .container .links {
    /* flex-wrap: wrap; */
    align-items: start;
    gap: 2rem;
    margin: unset;
    padding: 0px 2rem;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: auto; */
  }

  .links h4 {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .links a {
    font-size: 12px;
  }

  /* checkback to work on the flex-property */
  .support {
    display: flex;
    align-items: left;
    justify-content: start;
  }

  hr._line2 {
    width: 100%;
  }

  /* ----footer---- */
  .footer-info {
    width: 95%;
    margin: auto;
    padding: 2rem 1rem 20px;
  }

  .lang-choices a {
    font-size: 10px;
  }
}

/* --- Larger screens */

@media screen and (min-width: 790px) and (max-width: 1200px) {
  
}
